<!DOCTYPE>
<html>
  <form>
    <p><input type="text" name="name" id="name" /></p>
    <p><input type="text" name="breed" id="breed" /></p>
    <p><input type="integer" name="age" id="age" /></p>
    <input type="submit" value="submit" />
  </form>
</html>
