<!DOCTYPE>
<html>
  <form method="POST" action="/display_puppy">
    <p>Puppy Name: <input type="text" /></p>
    <p>Puppy Breed: <input type="text" /></p>
    <p>Puppy Age: <input type="integer" /></p>
    <input type="submit" />
  </form>
</html>
